/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

header, footer, section, article, aside {
  display: block;
}

body {
  font-family: Tahoma, Helvetica, Verdana, sans-serif;
  margin: 0;
}

a img {
  border-style: none;
}

a {
  color: #00a;
}

a:visited {
  color: #a0a;
}

a:hover {
  color: black;
}

a:active {
  color: orange;
}

#container {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  width: 984px;
}

ul#nav {
  background-color: black;
  height: 30px;
  margin: 0 -20px;
  opacity: 0.7;
  padding-left: 20px;
}

ul#nav li {
  display: block;
  float: left;
  font-size: 14px;
  line-height: 30px;
}

ul#nav li + li {
  margin-left: 20px;
}

ul#nav li a {
  text-decoration: none;
  color: white;
}

ul#nav li a:hover {
  color: #bbb;
}

ul#nav li a:active {
  color: gray;
}


/*****************************************************************************/
/*
/* Pages
/*
/*****************************************************************************/

aside.photo {
  width: 340px;
  margin-left: 20px;
}

aside.photo p.caption {
  font-size: 12px;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.home {
  text-align: center;
}

.home section {
  margin-top: 64px;
  overflow: hidden;
}

.home section h1 {
  font-size: 128px;
  line-height: 88px;
  margin: 0 0 30px;
}

.home section p {
  line-height: 24px;
  margin: 24px 0;
}

ul#icons {
  list-style-type: none;
  margin-top: 32px;
  padding-left: 0px;
}

ul#icons li {
  display: inline;
}

ul#icons li + li {
  margin-left: 8px;
}

ul#icons li a img {
  height: 32px;
  width: 32px;
}


/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  display: inline;
}

footer ul li+li:before {
  content: " | ";
}
